<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.vagalume.playerhandler">
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
          <uses-permission android:name="android.permission.GET_TASKS" />
          <uses-permission android:name="android.permission.INTERNET"/>
          <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		  <uses-permission android:name="android.permission.WAKE_LOCK" />
          <application>
               <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
               <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
                android:value="false"/>
              <service android:name=".MediaPlayerService" android:enabled="true" android:exported="false" />
              <receiver android:name=".MediaReceiver">
                  <intent-filter>
                      <action android:name="android.intent.action.MEDIA_BUTTON" />
                  </intent-filter>
              </receiver>
          </application>
</manifest>
